    <!-- Scripts -->
    <script src='assets/javascripts/lib/jquery-1.7.2.min.js'></script>
    <script src='assets/javascripts/plugins/jquery.lazyload.min.js'></script>
    <script src='assets/javascripts/plugins/sh_main.js'></script>
    <script src='assets/javascripts/plugins/sh_frontend_languages.js'></script>
    <!--script src='../assets/javascripts/custom.js'></script-->
</html>