    <div id="top" class="top">
        <button id='hidden-menu-button' class='hidden-menu-button' href=""></button>
    </div>

    <aside id="main-aside">
        <form class="search formee">
            <i></i>
            <input autocorrect="off" autocomplete="off" results="5" placeholder="Procurar" type="text">
        </form>
        <h1 id="logo">
            <a href="index.html"><i></i>Fron10</a>
            <span><em>“Fazer um bom design é fácil. Mas fazer um grande design requer um grande cliente”</em> Michael Osborne</span>
        </h1>
        <nav class="main-navigation">
            <ul>
                <li>
                    <a href="about.html">Sobre</a>
                </li>
                <li>
                    <a href="archive.html">Arquivo</a>
                </li>
                <li>
                    <a href="contact.html">Contato</a>
                </li>
            </ul>
        </nav>
        <ul class="social">
            <li>
                <a href="https://github.com/gabrihellmateus" title="Tem alguns repositórios bons lá! ಠ_ಠ" target="_blank"><i class="github"></i></a>
            </li>
            <li>
                <a href="https://twitter.com/#!/gabriHellmateus" title="Tem muitos tweets legais lá! ಠ_ಠ" target="_blank"><i class="twitter" ></i></a>
            </li>
            <!-- <li>
                <a href="https://www.facebook.com/gabrihellmateus" title="Tem poucos posts engraçados lá... ಠ_ಠ" target="_blank"><i class="facebook"></i></a>
            </li> -->
        </ul>
        <!-- <a id='scroll-to-top' href="">Vá para o topo ⤴</a> -->
    </aside>