  <nav class="pagination">
    <ul>
      <!-- <li><a class="box" href="#"><</a></li> -->
      <li><a class="box active" href="#">1</a></li>
      <li><a class="box" href="#">2</a></li>
      <li><a class="box" href="#">></a></li>
    </ul>
  </nav>