@charset 'UTF-8';
/*  Fonts
   ========================================================================== */
/*  Type Sizes
   ========================================================================== */
/*  Colors
   ========================================================================== */
/*  Others
   ========================================================================== */
/* ==========================================================================
    Link - git.io/normalize
   ========================================================================== */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
::-webkit-input-placeholder {
  color: #dddddd;
}
:-moz-placeholder {
  color: #dddddd;
}
::-moz-placeholder {
  color: #dddddd;
}
:-ms-input-placeholder {
  color: #dddddd;
}
/*! normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */

  -ms-text-size-adjust: 100%;
  /* 2 */

  -webkit-text-size-adjust: 100%;
  /* 2 */

}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}
/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  /* 2 */

}
/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */

  font-size: 100%;
  /* 2 */

  margin: 0;
  /* 3 */

}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */

  cursor: pointer;
  /* 3 */

}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ==========================================================================
   Fluid Media
   ========================================================================== */
figure,
article,
div,
section,
header,
main,
aside,
form {
  position: relative;
}
aside img,
article img,
div img,
section img,
figure img,
aside object,
article object,
div object,
section object,
figure object,
aside embed,
article embed,
div embed,
section embed,
figure embed,
aside video,
article video,
div video,
section video,
figure video,
aside iframe,
article iframe,
div iframe,
section iframe,
figure iframe {
  display: block;
}
img {
  -ms-interpolation-mode: bicubic;
}
/* ==========================================================================
   Selection
   ========================================================================== */
::-moz-selection {
  background: #878786;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #878786;
  color: #fff;
  text-shadow: none;
}
/*  Helper Classes
   ========================================================================== */
.cf {
  *zoom: 1;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.hidden {
  display: none !important;
}
.visible {
  display: block !important;
}
.no-margin-left {
  margin-left: 0 !important;
}
.no-margin-right {
  margin-right: 0 !important;
}
.clear {
  clear: both;
}
.center {
  text-align: center;
}
.invisible {
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
}
.fl {
  float: left;
  width: 100%;
}
.box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.red-bg {
  background-color: #e23838;
  background-image: -webkit-linear-gradient(top, #e23838, #911215);
  background-image: -moz-linear-gradient(top, #e23838, #911215);
  background-image: -o-linear-gradient(top, #e23838, #911215);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr= #e23838 , EndColorStr= #911215 , GradientType=0);
  background: linear-gradient(top, #e23838 0%, #911215 100%);
}
.arrow-link {
  position: absolute;
  top: 0;
  right: 10px;
  -webkit-transition: right .30s;
  -moz-transition: right .30s;
  -ms-transition: right .30s;
  -o-transition: right .30s;
  transition: right .30s;
}
.arrow-link-hover {
  right: 0;
  -webkit-transition: right .25s;
  -moz-transition: right .25s;
  -ms-transition: right .25s;
  -o-transition: right .25s;
  transition: right .25s;
}
.arrow {
  position: absolute;
  top: 0;
  right: 10px;
  -webkit-transition: right .30s;
  -moz-transition: right .30s;
  -ms-transition: right .30s;
  -o-transition: right .30s;
  transition: right .30s;
}
.fixed {
  position: fixed;
  width: 100%;
  z-index: 10;
}
.invisible {
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
}
.centered {
  display: table-cell;
  vertical-align: middle;
}
/*  Helpful Functions
   ========================================================================== */
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.rounded {
  border-radius: 100%;
}
/*  Helpful Mixins
   ========================================================================== */
/*  Columns
   ========================================================================== */
/* Grid Sizes */
.row {
  *zoom: 1;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.column {
  display: inline-block;
  vertical-align: top;
}
.column.one {
  width: 48px;
}
.column.two {
  width: 128px;
}
.column.three {
  width: 208px;
}
.column.four {
  width: 288px;
}
.column.five {
  width: 368px;
}
.column.six {
  width: 448px;
}
.column.seven {
  width: 528px;
}
.column.eight {
  width: 608px;
}
.column.nine {
  width: 688px;
}
.column.ten {
  width: 768px;
}
.column.eleven {
  width: 848px;
}
.column.twelve {
  width: 928px;
}
.column + .column {
  margin-left: 27px;
}
.column.centered {
  margin: 0 auto !important;
  display: block;
}
/*  Buttons
   ========================================================================== */
.back-button {
  display: inline-block;
  float: left;
  margin: 0 6px 0 0;
  color: #2e2e2e;
}
.back-button:hover {
  text-decoration: none;
}
.capitalize {
  float: left;
  margin-right: 4px;
  font-size: 3.8em;
  line-height: 0.7em;
  color: #ba1820;
}
.box {
  border: 1px solid;
  background: #fdfdfd;
  border-color: #ccc;
  background: rgba(255, 255, 255, 0.8);
  border-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: border linear 0.2s;
  -moz-transition: border linear 0.2s;
  -o-transition: border linear 0.2s;
  -ms-transition: border linear 0.2s;
  transition: border linear 0.2s;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.box:hover {
  border-color: #aaa;
  border-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: border linear 0.2s;
  -moz-transition: border linear 0.2s;
  -o-transition: border linear 0.2s;
  -ms-transition: border linear 0.2s;
  transition: border linear 0.2s;
  opacity: 1;
  filter: alpha(opacity=100);
}
/*  Icons
   ========================================================================== */
.tags {
  float: left;
  margin: 0;
  padding: 0;
}
.tags ul {
  float: right;
}
.tags li {
  float: left;
  margin: 0 4px;
  padding: 6px;
  font-style: italic;
  font-weight: 700;
  text-shadow: 1px 1px 0 #fff;
  background: #DFDFDF;
  border: 1px solid;
  border-color: #aaa;
  border-color: rgba(0, 0, 0, 0.2);
  background: rgba(223, 223, 223, 0.8);
}
.tags li:first-child {
  margin-left: 0;
}
.tags .date {
  background: #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/*  Plugins
   ========================================================================== */
pre.sh_sourceCode {
  color: #fff;
  font-family: verdana;
  border: 1px solid #000;
  background: #272822;
  box-shadow: inset 0 0 2px #7A7A7A;
}
pre.sh_sourceCode .sh_keyword {
  color: #0000ff;
}
pre.sh_sourceCode .sh_type {
  color: #880088;
}
pre.sh_sourceCode .sh_string {
  color: #000088;
}
pre.sh_sourceCode .sh_regexp {
  color: #000088;
}
pre.sh_sourceCode .sh_specialchar {
  color: #000000;
}
pre.sh_sourceCode .sh_comment {
  color: #00ff00;
  font-weight: normal;
  font-style: italic;
}
pre.sh_sourceCode .sh_number {
  color: #ff0000;
}
pre.sh_sourceCode .sh_preproc {
  color: #ff0000;
}
pre.sh_sourceCode .sh_function {
  color: #000000;
}
pre.sh_sourceCode .sh_url {
  color: #000088;
}
pre.sh_sourceCode .sh_date {
  color: #0000ff;
}
pre.sh_sourceCode .sh_time {
  color: #0000ff;
}
pre.sh_sourceCode .sh_file {
  color: #0000ff;
}
pre.sh_sourceCode .sh_ip {
  color: #000088;
}
pre.sh_sourceCode .sh_name {
  color: #000088;
}
pre.sh_sourceCode .sh_variable {
  color: #0000ff;
}
pre.sh_sourceCode .sh_oldfile {
  color: #000000;
}
pre.sh_sourceCode .sh_newfile {
  color: #000088;
}
pre.sh_sourceCode .sh_difflines {
  color: #0000ff;
}
pre.sh_sourceCode .sh_selector {
  color: #f92672;
}
pre.sh_sourceCode .sh_property {
  color: #52E3F6;
}
pre.sh_sourceCode .sh_value {
  color: #C48CFF;
}
/*  Global
   ========================================================================== */
/*  Validations
   ========================================================================== */
/*  Paragraph
  ========================================================================== */
p {
  margin: 0 0 1em;
  font-size: 1.3em;
  line-height: 1.5em;
}
/*  Links
   ========================================================================== */
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/*  Lists
   ========================================================================== */
ul,
ol {
  padding: 0;
}
li {
  list-style: none;
}
/*  Headings
   ========================================================================== */
h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 0;
}
.post-title {
  margin: 0 0 40px;
  padding: 0 0 18px;
  font: 700 1.8em/1.2em "Times New Roman", Times, serif;
  text-shadow: 1px 1px 0 #fff;
  border-bottom: 1px dashed #adadad;
  -ms-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.post-title:hover {
  color: #141414;
  text-decoration: none;
}
/*  HTML, Body, Wrapper, Container
   ========================================================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  height: 100%;
  font-size: 14px;
  line-height: 14px;
  overflow-x: hidden;
  color: #2e2e2e;
  font-family: "Times New Roman", Times, serif;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  background: url('../images/tiny-grid-alpha.png') left top repeat #dadada;
}
/* ==========>> =Structure
============================================================= */
.container {
  float: left;
  position: relative;
  width: 100%;
  overflow: hidden;
}
/*  Main Aside
   ========================================================================== */
#main-aside {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 220px;
  padding: 50px 0;
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px -1px 6px rgba(119, 56, 56, 0.6);
  -moz-box-shadow: 1px -1px 6px rgba(119, 56, 56, 0.6);
  box-shadow: 1px -1px 6px rgba(119, 56, 56, 0.6);
  background-color: #de1d26;
  background-image: -webkit-linear-gradient(top, #de1d26, #a8161d);
  background-image: -moz-linear-gradient(top, #de1d26, #a8161d);
  background-image: -o-linear-gradient(top, #de1d26, #a8161d);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr= #de1d26 , EndColorStr= #a8161d , GradientType=0);
  background: linear-gradient(top, #de1d26 0%, #a8161d 100%);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#main-aside:hover #logo i {
  left: 6px;
}
#logo {
  *zoom: 1;
  display: inline-block;
  font: 700 24px/33px "Times New Roman", Times, serif;
}
#logo:before,
#logo:after {
  content: " ";
  display: table;
}
#logo:after {
  clear: both;
}
#logo a {
  display: inline-block;
}
#logo i {
  float: left;
  display: block;
  position: relative;
  width: 42px;
  height: 30px;
  margin: 0 10px 0 0;
  background: url(../images/sprite-logo.png) no-repeat 0 -43px;
  -ms-transition: left 0.1s linear;
  -webkit-transition: left 0.1s linear;
  -moz-transition: left 0.1s linear;
  -o-transition: left 0.1s linear;
  transition: left 0.1s linear;
}
#logo span {
  display: block;
  margin: 60px 0 0;
  padding: 0 20px;
  font-size: 18px;
  line-height: 24px;
}
#logo em {
  display: block;
  margin: 0 0 8px;
}
.main-navigation {
  margin: 50px 0;
}
.main-navigation a {
  display: block;
  padding: 10px 4px;
  border: 1px dashed transparent;
  letter-spacing: 1px;
}
.main-navigation a:hover,
.main-navigation .current {
  text-decoration: none;
  background: rgba(95, 4, 4, 0.1);
  border: 1px dashed rgba(255, 255, 255, 0.2);
}
.social {
  *zoom: 1;
  margin: 50px 0 0;
  display: inline-block;
}
.social:before,
.social:after {
  content: " ";
  display: table;
}
.social:after {
  clear: both;
}
.social li {
  float: left;
}
.social a {
  display: inline-block;
  padding-bottom: 6px;
  border: 1px solid rgba(0, 0, 0, 0);
}
.social a > i {
  float: left;
  width: 34px;
  height: 34px;
  margin-right: 10px;
  text-shadow: none;
  background: url('../images/sprite-logo.png') no-repeat 0 0;
}
.social a:hover {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
}
.social .github {
  background-position: -41px -42px;
}
.social .twitter {
  background-position: -79px -44px;
}
.social .facebook {
  background-position: -114px -46px;
}
.search {
  display: none;
  position: relative;
  margin: 80px 7% 0;
}
.search input,
.search input:hover,
.search input:focus {
  color: #fff;
  background: #500000;
  border: 1px solid rgba(194, 12, 12, 0.4);
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.3);
}
/*  Main Content
   ========================================================================== */
.main-content {
  *zoom: 1;
  position: relative;
  float: left;
  height: 100%;
  margin-left: 260px;
  padding: 26px 3% 50px 0;
}
.main-content:before,
.main-content:after {
  content: " ";
  display: table;
}
.main-content:after {
  clear: both;
}
/*  Main Footer
   ========================================================================== */
/*  Home
   ========================================================================== */
.post-date {
  margin: 0 0 10px;
  padding: 0 4px 0;
  text-align: right;
  font: 700 1em/1em "Times New Roman", Times, serif;
}
.post {
  *zoom: 1;
  float: left;
  margin: 0 0 40px;
  padding: 30px;
}
.post:before,
.post:after {
  content: " ";
  display: table;
}
.post:after {
  clear: both;
}
.post:hover .image:after {
  background: none;
}
.post:first-child {
  margin-left: 0;
}
.post a {
  color: #2e2e2e;
  display: block;
  font-weight: 700;
}
.post .util {
  padding: 20px 0 0 0;
}
.post .image {
  position: relative;
  margin: 24px 0;
  overflow: hidden;
}
.post .image img {
  width: 100%;
}
.post .image:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
  /* IE6-9 */

  -webkit-transition: background linear 0.2s;
  -moz-transition: background linear 0.2s;
  -o-transition: background linear 0.2s;
  -ms-transition: background linear 0.2s;
  transition: background linear 0.2s;
}
.post .read-more {
  position: relative;
  float: right;
  padding-right: 38px;
  font-size: 22px;
  line-height: 28px;
}
.post .read-more:hover {
  color: #ba1820;
}
.post .read-more:hover .arrow {
  right: 0;
  -webkit-transition: right .25s;
  -moz-transition: right .25s;
  -ms-transition: right .25s;
  -o-transition: right .25s;
  transition: right .25s;
}
/* ==========>> {{ =Single-Post }}
============================================================= */
.single-post {
  margin: 24px 0 0;
  text-align: justify;
}
.post-header {
  *zoom: 1;
  margin: 0 0 30px;
  padding: 0 0 10px;
  border-bottom: 1px dashed #adadad;
}
.post-header:before,
.post-header:after {
  content: " ";
  display: table;
}
.post-header:after {
  clear: both;
}
.post-header .post-title {
  width: 70%;
  float: left;
  margin: 0;
  padding: 0;
  font-size: 2.5em;
  border: none;
}
.post-header .tags {
  float: right;
}
/* ==========>> {{ =About }}
============================================================= */
.about .image {
  float: left;
  margin: 0 16px 8px 0;
}
.about .image + p {
  float: left;
  width: 51%;
  margin: 10px 0;
}
.about ul {
  margin: 20px 0;
  padding: 0 0 0 20px;
}
.about li {
  margin: 0 40px 0 0;
  font-size: 22px;
  line-height: 22px;
  list-style: disc;
}
.about li:last-child {
  margin-right: 0;
}
/* ==========>> {{ =Archive }}
============================================================= */
.archive article {
  margin-bottom: 0;
  padding: 0;
  border-top-color: transparent;
  background: #fdfdfd;
  background: rgba(255, 255, 255, 0.5);
}
.archive article:first-child {
  border-top-color: #aaa;
  border-top-color: rgba(0, 0, 0, 0.2);
}
.archive article:hover {
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  border-top-color: #CCC;
  border-top-color: rgba(0, 0, 0, 0.4);
}
.archive article:last-child {
  margin-bottom: 30px;
}
.archive article.last-child {
  margin-bottom: 30px;
}
.archive h3 {
  font-size: 24px;
  line-height: 24px;
}
.archive h3 a {
  position: relative;
  width: 100%;
  float: left;
  padding: 22px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.archive h3 a .arrow {
  top: 32%;
  right: 35px;
}
.archive h3 a:hover {
  color: #ba1820;
}
.archive h3 a:hover .arrow {
  right: 0;
  -webkit-transition: right .25s;
  -moz-transition: right .25s;
  -ms-transition: right .25s;
  -o-transition: right .25s;
  transition: right .25s;
  right: 20px;
}
/* ==========>> {{ =Contact }}
============================================================= */
.contact .box {
  background: none;
}
.contact .box:hover {
  background: none;
}
.formee label {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-shadow: 1px 1px 0 #fff;
}
.formee input[type="submit"] {
  margin-top: 10px;
}
/* ==========>> =Others
============================================================= */
/* ==========>> {{ =Pagination }} <<============= */
.pagination {
  float: right;
  clear: both;
  overflow: hidden;
}
.pagination ul {
  float: right;
}
.pagination li {
  float: left;
  margin: 0 4px;
}
.pagination li:last-child {
  margin-right: 0;
}
.pagination a {
  color: #2e2e2e;
  display: block;
  padding: 12px;
  font-weight: 700;
}
.pagination a:hover {
  border: 1px solid #ba1820;
}
.pagination .active {
  border: 1px solid #ba1820;
}
/* ==========>> =Media-Queries
============================================================= */
/* ===== {{ =Mobile }} ===== */
.top {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 60px;
  background-color: #e23838;
  background-image: -webkit-linear-gradient(top, #e23838, #911215);
  background-image: -moz-linear-gradient(top, #e23838, #911215);
  background-image: -o-linear-gradient(top, #e23838, #911215);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr= #e23838 , EndColorStr= #911215 , GradientType=0);
  background: linear-gradient(top, #e23838 0%, #911215 100%);
  border-bottom: 1px solid #a24747;
  -webkit-box-shadow: 0 2px 3px rgba(71, 5, 5, 0.8);
  -moz-box-shadow: 0 2px 3px rgba(71, 5, 5, 0.8);
  box-shadow: 0 2px 3px rgba(71, 5, 5, 0.8);
}
.top + .hidden-menu {
  float: left;
  position: absolute;
  display: block;
  width: 100%;
  max-width: 260px;
  max-height: 800px;
  height: 100%;
  margin: 0;
  background-color: #7f101d;
  background-image: -webkit-linear-gradient(top, #7f101d, #42080c);
  background-image: -moz-linear-gradient(top, #7f101d, #42080c);
  background-image: -o-linear-gradient(top, #7f101d, #42080c);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr= #7f101d , EndColorStr= #42080c , GradientType=0);
  background: linear-gradient(top, #7f101d 0%, #42080c 100%);
}
/*  404
   ========================================================================== */
@media (max-width: 480px) {
  
}
@media (max-width: 767px) {
  
}
@media (min-width: 768px) and (max-width: 979px) {
  
}
@media (max-width: 1024px) {
  
}
@media (min-width: 1400px) {
  .post {
    width: 46%;
    margin-left: 40px;
  }
  .post:nth-child(4n-1) {
    margin-left: 0;
  }
  .post-excerpt {
    height: 104px;
  }
}
/* ===== {{ =Max768 }} ===== */
@media only screen and (max-width: 768px) {
  #menu-wrap .search {
    display: block;
  }
  #menu-wrap h2 {
    display: none;
  }
  .archive article {
    margin: 2% 0;
    padding: 0;
  }
  #logo {
    float: right;
    margin: 14px 5% 0 0;
  }
  .menu-wrap {
    display: none;
  }
  .hidden-menu .menu {
    width: 100%;
    margin: 20px 0 0 0;
  }
  .hidden-menu .menu li {
    width: 84.7%;
    margin: 12px 8%;
  }
  .hidden-menu .menu a {
    width: 100%;
    padding: 12px 0;
    line-height: 20px;
    border: 1px dashed rgba(255, 255, 255, 0.2);
  }
  .hidden-menu-button {
    position: relative;
    float: left;
    width: 51px;
    height: 33px;
    margin: 13px 0 0 4%;
    outline: none;
    border: none;
    cursor: pointer;
    background: url(../images/sprite-logo.png) no-repeat 0 0;
  }
  .hidden-menu-button.pressed {
    background-position: -54px 0;
  }
  .top {
    display: block;
  }
  .single-post {
    width: 94%;
    margin-left: 30px;
  }
  .home article .image:after {
    background: none;
  }
  .home .tags li {
    margin: 4px;
    width: 70px;
    text-align: center;
  }
  .home .read-more {
    line-height: 38px;
  }
  .social {
    margin: 25px 0 0 25%;
    padding: 0;
  }
  .pagination a {
    padding: 17px 20px;
  }
  /* ==========>> {{ =About }}
      ============================================================= */
  .about .image {
    margin: 0 30%;
  }
  .about .image + p {
    width: 100%;
  }
}
/* ===== {{ =Max600 }} ===== */
@media only screen and (max-width: 600px) {
  .mobile #logo {
    margin-right: 5%;
  }
  .home .tags {
    width: 100%;
  }
  .home .read-more {
    margin-top: 16px;
    line-height: 28px;
  }
}
/* ===== {{ =Max290 }} ===== */
@media only screen and (max-width: 290px) {
  .mobile #logo {
    margin-right: 0;
  }
  .pagination {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .pagination a {
    padding: 17px 13px;
  }
}
.zone img {
  margin: 20px 0;
  display: block;
}
