  <!-- build:section head --><!-- /build -->
  
    <!-- build:section main-aside --><!-- /build -->

    <main class="about main-content">
      <h2>Sobre</h2>
      <article class="box">
          <a class="image" href="#" alt="post-image">
            <img src="../assets/images/about-picture.jpg"/>
          </a>
          <p>
            <strong class="capitalize">B</strong>em a forma como eles fazem programas de TV é, eles fazem um programa. Esse programa se chama “piloto”. Então eles mostram o piloto para as pessoas que fazem programas de TV, e com a força desse programa eles decidem se vão fazer mais. Alguns pilotos são escolhidos e viram programas de televisão. Alguns não, não viram nada. Ela estrelou em um dos que não virou nada.
          </p>
          <ul>
            <li><em>HTML</em></li>
            <li><em>CSS</em></li>
            <li><em>Javascript</em></li>
          </ul>
          <p>
              Olha, só porque eu não faço massagem no pé de homem nenhum, não quer dizer que é certo o Marsellus jogar o Antwone em uma p*rra de casa de vidro, f*dendo a forma como o negro fala. Se um filho da p*ta faz isso comigo, é melhor ele me paralisar, porque eu mato o filho da p*ta, tá me entendendo?
          </p>
          <p>
              Seus ossos não quebram, os meus quebram. Isso está claro. Suas células reagem a bactérias e vírus de forma diferente que as minhas. Você não fica doente, eu fico. Isso também está claro. Mas por algum motivo, você e eu reagimos exatamente da mesma forma à água. Nós engolimos muito rápido, nós engasgamos. Nós inalamos água nos pulmões, nós nos afogamos. Por mais que pareça irreal, nós estamos conectados, você e eu. Nós estamos na mesma curva, só que em pontos opostos.
          </p>
      </article>
    </main>

  <!-- build:section main-footer --><!-- /build -->