  <!-- build:section head --><!-- /build -->
  
    <!-- build:section main-aside --><!-- /build -->

    <main class="archive main-content">
       <h2>Arquivo</h2>
      <div>
        <article class="box">
          <h3>
            <a href="post.php">You think water moves fast?
                <span class="arrow">→</span>
            </a>
          </h3>
        </article>
      </div>
    </main>

  <!-- build:section main-footer --><!-- /build -->