  <!-- build:section head --><!-- /build -->

    <!-- build:section main-aside --><!-- /build -->

    <main class="home main-content">
      <div>
        <p class="post-date">04 out 2013</p>
      </div>
      <article class="post box">
        <h3><a class="post-title" href="um-dia-qualquer">Um dia qualquer</a></h3>
        <p class="post-excerpt">
          <strong class="capitalize">O</strong>lhava a vista ampla que minha casa possuía, um dos motivos pela compra deste imóvel, para mim, usá-la era uma oportunidade de não pensar. No horizonte a minha frente onde eu fitava só conseguia ver telhados de casas simples e algumas poucas árvores. Como minha casa estava no alto em relação às outras eu conseguia ver a linha do outro lado, de todos os lados; essa linha era a divisão entre o céu e a terra.</p>
        <div class="util">
          <ul class="tags">
            <li>first</li>
            <li>scratch</li>
            <li>thoughts</li>
          </ul>
          <a class="read-more" href="um-dia-qualquer.html">Leia mais
            <span class="arrow" href="">→</span>
          </a>
        </div>
      </article>
      <article class="post box">
        <h3><a class="post-title" href="um-dia-qualquer.html">Lorem ipsum dolor sit amet.</a></h3>
        <p class="post-excerpt">
          <strong class="capitalize">L</strong>orem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, ex quis obcaecati commodi animi minus fugiat consequuntur rerum deserunt eius quaerat placeat dicta. Veritatis, molestias, ipsam. Molestiae sapiente corrupti fugiat!</p>
        <div class="util">
          <ul class="tags">
            <li>04 out 2013</li>
            <li>first</li>
            <li>scratch</li>
            <li>thoughts</li>
          </ul>
          <a class="read-more" href="um-dia-qualquer.html">Leia mais
            <span class="arrow" href="">→</span>
          </a>
        </div>
      </article>
      <article class="post box">
        <h3><a class="post-title" href="um-dia-qualquer.html">Consectetur adipisicing elit.</a></h3>
        <p class="post-excerpt">
          <strong class="capitalize">I</strong>psum dolor sit amet, consectetur adipisicing elit. Quisquam, ex quis obcaecati commodi animi minus fugiat consequuntur rerum deserunt eius quaerat placeat dicta. Veritatis, molestias, ipsam. Molestiae sapiente corrupti fugiat!</p>
        <div class="util">
          <ul class="tags">
            <li>04 out 2013</li>
            <li>first</li>
            <li>scratch</li>
            <li>thoughts</li>
          </ul>
          <a class="read-more" href="um-dia-qualquer.html">Leia mais
            <span class="arrow" href="">→</span>
          </a>
        </div>
      </article>
    </main>

  <!-- build:section main-footer --><!-- /build -->