  <!-- build:section head --><!-- /build -->

    <!-- build:section main-aside --><!-- /build -->

    <main class="main-content">
      <article class="single-post">
        <header class="post-header">          
          <h2 class="post-title">
            <a href="index.hyml" class="back-button">←</a> 
            <span>Um dia qualquer</span>
          </h2>
          <nav class="tags">
            <ul>
              <li>first</li>
              <li>scratch</li>
              <li>thoughts</li>
              <li>04 out 2013</li>
            </ul>
          </nav>
        </header>

        <div>
          <p>Naquele momento senti uma sensação muito agradável que pairou sobre meus pensamentos controversos. Era uma sensação nostálgica, mas neste caso não era como as outras, esta eu não tive forçadamente, veio de graça. Momento de felicidade curta, descartável.</p>
         
          <p>Olhava a vista ampla que minha casa possuía, um dos motivos pela compra deste imóvel, para mim, usá-la era uma oportunidade de não pensar. No horizonte a minha frente onde eu fitava só conseguia ver telhados de casas simples e algumas poucas árvores. Como minha casa estava no alto em relação às outras eu conseguia ver a linha do outro lado, de todos os lados; essa linha era a divisão entre o céu e a terra. A essa altura a impressão que se tinha é que vivíamos numa bacia gigante e que a qualquer momento ela poderia encher d’água. Imaginações à parte, minha paisagem estava dividida, não simetricamanete, mas para mim era justa essa divisão. Num lado o Sol parecia não estar forte, pois o via correndo pro oeste, no outro a Sombra ganhava força rapidamente; era com um manto negro que cobria tudo que estava atrás. Ela desempenhava seu trabalho muito bem enquanto o sol era apenas um fujão. Eu estava a favor do Sol, pra mim era uma batalha, briga diária que nesse horário sempre se soube quem era o vencedor. Nessa hora já me via coberto pela sombra, senti uma brisa agradável.</p>
          
          <p>Ao longe escuto uma música, parecia vir de um carro, o som estava abafado. Não compreendi a letra, não consegui decifrar os acordes e muito menos escutar algum instrumento isolado. Consegui identificar com muito esforço que era a voz de uma cantora brasileira famosa , sabia o que ouvia, sabia o estilo musical, conhecia-o. Não era meu gosto musical, mas eu respeitava essa música e o que ela trazia consigo. Misturado ao som e ao fim da batalha que presenciei do Sol e a Sombra senti um cheiro estranho, mas apenas a princípio, depois identifiquei como sendo cheiro de água (como se ela exalasse algo). Na verdade, era cloro misturado a ela, esse cheiro vinha de uma pequena piscina que havia em minha casa onde somente crianças poderiam se divertir. Para elas, era tudo o que uma piscina precisava ser, pra mim, era apenas um item azul em formato de feijão que ocupava um belo espaço da minha “área de lazer”.</p>
          
          <p>Juntando esses fatores olfativos, auditivos e visuais, passou pela minha cabeça lembranças da praia. Momentos bons que passei quando viajava para o litoral brasileiro. Não me importava naquele momento qual era a praia em questão, foram tantas que na minha cabeça elas se misturavam e as lembranças passavam-se num só lugar. A sensação foi tão boa que os meus sentidos me transportaram para essa paisagem.</p>
          
          <p>Acho que hoje se fosse a qualquer uma dessas praias não sentiria a mesma coisa, agora são tempos diferentes e pessoas diferentes. Claro que sentiria coisas novas, tão boas quanto (ou não), mas falo do sentimento único que quando pequeno não me importei em ter, sentimento este que não terei mais.</p>
          
          <p>Depois de alguns minutos a sombra se estabeleceu por completo, pequenos focos de luzes brotaram pouco a pouco próximos as casas que via. Essas luzes tentavam imitar o que antes era soberano, e que no dia seguinte será novamente até o manto da Sombra chegar; vi brotar milhares desses focos de luzes artificiais. Quando dei por mim, a música ao fundo se misturou a marteladas, a buzinas de carros, ao som de motores, a um som de um celular que tocava desesperadamente ao meu lado, ao mosquito que não parava de me importunar e a posição incomoda em que eu estava esse tempo todo, agora ela realmente começava a me incomodar muito. Todos esses itens quebraram a “mágica” do meu momento íntimo e me colocaram frente a frente onde eu estava: diante de uma pequena piscina suja em formato de feijão com pouca água e cheirando a cloro.</p>
           <p>
       </div>
      </article>
    </main>

  <!-- build:section main-footer --><!-- /build -->