//  /$$      /$$      /$$$$$$                                /$$
// | $$$    /$$$     /$$__  $$                              |__/
// | $$$$  /$$$$    | $$  \ $$ /$$   /$$  /$$$$$$   /$$$$$$  /$$  /$$$$$$   /$$$$$$$
// | $$ $$/$$ $$    | $$  | $$| $$  | $$ /$$__  $$ /$$__  $$| $$ /$$__  $$ /$$_____/
// | $$  $$$| $$    | $$  | $$| $$  | $$| $$$$$$$$| $$  \__/| $$| $$$$$$$$|  $$$$$$
// | $$\  $ | $$    | $$/$$ $$| $$  | $$| $$_____/| $$      | $$| $$_____/ \____  $$
// | $$ \/  | $$ /$$|  $$$$$$/|  $$$$$$/|  $$$$$$$| $$      | $$|  $$$$$$$ /$$$$$$$/
// |__/     |__/|__/ \____ $$$ \______/  \_______/|__/      |__/ \_______/|_______/
//                        \__/


// Mobiles
// ---------------------------------------------
@media (max-width: 480px) {

}


// Tables
// ----------------------------------------------
@media (max-width: 767px) {

}


// Tablets and Desktops - Small Screens
// ----------------------------------------------
@media (min-width: 768px) and (max-width: 979px){

}

// Desktops - Small Screens
// ------------------------------------------------
@media (max-width: 1024px) {

}

// Desktops
// ------------------------------------------------
@media (min-width: 1400px) {

    .post {
        width: 46%;
        margin-left: 40px;

        &:nth-child(4n-1){ margin-left: 0 }       
    }    

    .post-excerpt { height: 104px }
}

/* ===== {{ =Max768 }} ===== */
// Tablet Portrait size to standard 960 (devices and browsers)
@media only screen and (max-width: 768px) {

    #menu-wrap{
        .search{ display: block; }
        h2 { display: none; }
    }

    .archive{
        article{
            margin: 2% 0;
            padding: 0;
        }
    }

    #logo{
        float: right;
        margin: 14px 5% 0 0;
    }

    .menu-wrap{ display: none; }

    .hidden-menu{
        .menu{
            width: 100%;
            margin: 20px 0 0 0;

            li{
                width: 84.7%;
                margin: 12px 8%;
            }

            a{
                width: 100%;
                padding: 12px 0;
                line-height: 20px;
                border: 1px dashed rgba(255, 255, 255, 0.2);
            }
        }
    }

    .hidden-menu-button {
        position: relative;
        float: left;
        width: 51px;
        height: 33px;
        margin: 13px 0 0 4%;
        outline: none;
        border: none;
        cursor: pointer;
        background: url(../images/sprite-logo.png) no-repeat 0 0;

        &.pressed{ background-position: -54px 0 ; }
    }

    .top{ display: block; }

    .single-post{
        width: 94%;
        margin-left: 30px;
    }

    .home{
        article{
            .image:after{
                background: none;
            }
        }

        .tags{
            li{
                margin: 4px;
                width: 70px;
                text-align: center;
            }
        }

        .read-more{ line-height: 38px; }
    }

    .social{
        margin: 25px 0 0 25%;
        padding: 0;
    }

    .pagination{ a{ padding: 17px 20px; } }

    /* ==========>> {{ =About }}
    ============================================================= */
    .about{
        .image{
            margin: 0 30%;

            + p{ width: 100%; }
        }
    }
}

/* ===== {{ =Max600 }} ===== */
// Mobile Landscape Size to Tablet Portrait
@media only screen and (max-width: 600px) {

    .mobile{
        #logo{
            margin-right: 5%;
        }
    }

    .home{
        .tags{ width: 100%; }
        .read-more{
            margin-top: 16px;
            line-height: 28px;
        }
    }
}

/* ===== {{ =Max290 }} ===== */
// Mobile Phones only
@media only screen and (max-width: 290px) {

    .mobile{
        #logo{ margin-right: 0; }
    }

    .pagination{
        width: 100%;
        margin: 0;
        padding: 0;

        a{
            padding: 17px 13px;
        }

    }
}

.zone img { margin: 20px 0; display: block; }
