//   /$$      /$$                 /$$           /$$
//  | $$$    /$$$                | $$          | $$
//  | $$$$  /$$$$  /$$$$$$   /$$$$$$$ /$$   /$$| $$  /$$$$$$   /$$$$$$$
//  | $$ $$/$$ $$ /$$__  $$ /$$__  $$| $$  | $$| $$ /$$__  $$ /$$_____/
//  | $$  $$$| $$| $$  \ $$| $$  | $$| $$  | $$| $$| $$$$$$$$|  $$$$$$
//  | $$\  $ | $$| $$  | $$| $$  | $$| $$  | $$| $$| $$_____/ \____  $$
//  | $$ \/  | $$|  $$$$$$/|  $$$$$$$|  $$$$$$/| $$|  $$$$$$$ /$$$$$$$/
//  |__/     |__/ \______/  \_______/ \______/ |__/ \_______/|_______/


/*  Buttons
   ========================================================================== */

.back-button {
  display: inline-block;
  float: left;
  margin: 0 6px 0 0;
  color: @color-default;

  &:hover { text-decoration: none }
}


.capitalize{
    float: left;
    margin-right: 4px;
    font-size: 3.8em;
    line-height: 0.7em;
    color: @red;
}

.box{
    border: 1px solid;

    //IE fall back
    background: #fdfdfd;
    border-color: #ccc;

    background: rgba(255,255,255,0.8);
    border-color: rgba(0,0,0,0.2);
    -webkit-transition: border linear 0.2s;
    -moz-transition: border linear 0.2s;
    -o-transition: border linear 0.2s;
    -ms-transition: border linear 0.2s;
    transition: border linear 0.2s;
    .opacity(90);

     &:hover{
        //IE fall back
        border-color: #aaa;

        border-color: rgba(0,0,0,0.4);
        -webkit-transition: border linear 0.2s;
        -moz-transition: border linear 0.2s;
        -o-transition: border linear 0.2s;
        -ms-transition: border linear 0.2s;
        transition: border linear 0.2s;
        .opacity(100);
    }
}


/*  Icons
   ========================================================================== */

.tags{
  float: left;
  margin: 0;
  padding: 0;

  ul{ float: right; }

  li{
    float: left;
    margin: 0 4px;
    padding: 6px;
    font-style: italic;
    font-weight: 700;
    text-shadow: 1px 1px 0 #fff;
    background: #DFDFDF;
    border: 1px solid;
    border-color: #aaa;
    border-color: rgba(0, 0, 0, 0.2);
    background: rgba(223, 223, 223, 0.8);

    &:first-child{ margin-left: 0; }
  }

  .date{
    background: #ccc;
    .border-radius(5px);
  }
}

/*  Plugins
   ========================================================================== */
pre.sh_sourceCode {
    color: #fff;
    font-family: verdana;
    border: 1px solid #000;
    background: rgb(39, 40, 34);
    box-shadow: inset 0 0 2px #7A7A7A;
}
pre.sh_sourceCode .sh_keyword {  color: #0000ff; }
pre.sh_sourceCode .sh_type {  color: #880088; }
pre.sh_sourceCode .sh_string {  color: #000088; }
pre.sh_sourceCode .sh_regexp {  color: #000088; }
pre.sh_sourceCode .sh_specialchar {  color: #000000; }
pre.sh_sourceCode .sh_comment {
  color: #00ff00;
  font-weight: normal;
  font-style: italic;
}
pre.sh_sourceCode .sh_number {  color: #ff0000; }
pre.sh_sourceCode .sh_preproc {  color: #ff0000; }
pre.sh_sourceCode .sh_function {  color: #000000; }
pre.sh_sourceCode .sh_url {  color: #000088; }
pre.sh_sourceCode .sh_date {  color: #0000ff; }
pre.sh_sourceCode .sh_time {  color: #0000ff; }
pre.sh_sourceCode .sh_file {  color: #0000ff; }
pre.sh_sourceCode .sh_ip {  color: #000088; }
pre.sh_sourceCode .sh_name {  color: #000088; }
pre.sh_sourceCode .sh_variable {  color: #0000ff; }
pre.sh_sourceCode .sh_oldfile {  color: #000000; }
pre.sh_sourceCode .sh_newfile {  color: #000088; }
pre.sh_sourceCode .sh_difflines {  color: #0000ff; }
pre.sh_sourceCode .sh_selector {  color: #f92672; }
pre.sh_sourceCode .sh_property {  color: #52E3F6; }
pre.sh_sourceCode .sh_value {  color: #C48CFF; }