//   /$$$$$$$
//  | $$__  $$
//  | $$  \ $$ /$$$$$$   /$$$$$$   /$$$$$$   /$$$$$$$
//  | $$$$$$$/|____  $$ /$$__  $$ /$$__  $$ /$$_____/
//  | $$____/  /$$$$$$$| $$  \ $$| $$$$$$$$|  $$$$$$
//  | $$      /$$__  $$| $$  | $$| $$_____/ \____  $$
//  | $$     |  $$$$$$$|  $$$$$$$|  $$$$$$$ /$$$$$$$/
//  |__/      \_______/ \____  $$ \_______/|_______/
//                      /$$  \ $$
//                     |  $$$$$$/
//                      \______/

/*  Home
   ========================================================================== */

.post-date {
    margin: 0 0 10px;
    padding: 0 4px 0;
    text-align: right;
    font: 700 1em/1em @f-times;
}

.post{
    .cf;
    float: left;
    margin: 0 0 40px;
    padding: 30px;

    &:hover{
        .image:after{ background: none; }
    }

    &:first-child{ margin-left: 0 }

    a{
        color: @color-default;
        display: block;
        font-weight: 700;
    }

    .util{ padding: 20px 0 0 0 }

    .image{
        position: relative;
        margin: 24px 0;
        overflow: hidden;

        img { width: 100% }
    }

    .image:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: -moz-linear-gradient(top,  rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

        -webkit-transition: background linear 0.2s;
        -moz-transition: background linear 0.2s;
        -o-transition: background linear 0.2s;
        -ms-transition: background linear 0.2s;
        transition: background linear 0.2s;
    }

    .read-more{
        position: relative;
        float: right;
        padding-right: 38px;
        font-size: 22px;
        line-height: 28px;

        &:hover{
            color: @red;

            .arrow{
                .arrow-link-hover;
            }
        }
    }

}

/* ==========>> {{ =Single-Post }}
============================================================= */
.single-post {
    margin: 24px 0 0;
    text-align: justify;
}

.post-header {
    .cf;
    margin: 0 0 30px;
    padding: 0 0 10px;
    border-bottom: 1px dashed #adadad;

    .post-title {
        width: 70%;
        float: left;
        margin: 0;
        padding: 0;
        font-size: 2.5em;
        border: none;
    }

    .tags {
        float: right;
    }
}


/* ==========>> {{ =About }}
============================================================= */
.about{
    .image{
        float: left;
        margin: 0 16px 8px 0;

        + p{
            float: left;
            width: 51%;
            margin: 10px 0;
        }
    }

    ul{
        margin: 20px 0;
        padding: 0 0 0 20px;
    }

    li{
        margin: 0 40px 0 0;
        font-size: 22px;
        line-height: 22px;
        list-style: disc;

        &:last-child{ margin-right: 0; }
    }
}

/* ==========>> {{ =Archive }}
============================================================= */
.archive{
    article{
        margin-bottom: 0;
        padding: 0;
        border-top-color: transparent;
        background: #fdfdfd;
        background: rgba(255, 255, 255, 0.5);

        &:first-child{
            border-top-color: #aaa;
            border-top-color: rgba(0, 0, 0, 0.2);
        }

        &:hover{
            background: #fff;
            background: rgba(255, 255, 255, 0.8);
            border-top-color: #CCC;
            border-top-color: rgba(0, 0, 0, 0.4);
        }

        &:last-child{ margin-bottom: 30px; }
        &.last-child{ margin-bottom: 30px; }
    }

    h3{
        font-size: 24px;
        line-height: 24px;

        a{
            position: relative;
            width: 100%;
            float: left;
            padding: 22px 20px;
            .box-sizing;

           .arrow{
                top: 32%;
                right: 35px;
           }

            &:hover{
                color: @red;

                .arrow{
                    .arrow-link-hover;
                    right: 20px;
                }
            }
        }
    }
}

/* ==========>> {{ =Contact }}
============================================================= */
.contact{
    .box{
        background: none;

        &:hover{ background: none; }
    }
}

.formee{
    label{
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
        text-shadow: 1px 1px 0 #fff;
    }

    input[type="submit"]{ margin-top: 10px; }
}


/* ==========>> =Others
============================================================= */

/* ==========>> {{ =Pagination }} <<============= */
.pagination{
    float: right;
    clear: both;
    overflow: hidden;

    ul{ float: right; }

    li{
        float: left;
        margin: 0 4px;

        &:last-child{ margin-right: 0; }
    }

    a{
        color: @color-default;
        display: block;
        padding: 12px;
        font-weight: 700;

        &:hover{
            border: 1px solid  @red;
        }
    }

    .active{
        border: 1px solid @red;
    }
}

/* ==========>> =Media-Queries
============================================================= */

/* ===== {{ =Mobile }} ===== */
.top{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: @topAsideHeight;
    .red-bg;
    border-bottom: 1px solid rgb(162, 71, 71);
    .box-shadow(0 2px 3px rgba(71, 5, 5, 0.8));

    + .hidden-menu{
        float: left;
        position: absolute;
        display: block;
        width: 100%;
        max-width: 260px;
        max-height: 800px;
        height: 100%;
        margin: 0;
        .gradient(#7F101D, #42080C);
    }
}

/*  404
   ========================================================================== */

