  @notloaded-x: 180px;
  @notloaded-y: 0px;
  @notloaded-offset-x: -180px;
  @notloaded-offset-y: 0px;
  @notloaded-width: 618px;
  @notloaded-height: 286px;
  @notloaded-total-width: 798px;
  @notloaded-total-height: 286px;
  @notloaded-image: '../images/sprite.png';
  @notloaded: 180px 0px -180px 0px 618px 286px 798px 286px '../images/sprite.png';
  @sprite-logo-x: 28px;
  @sprite-logo-y: 0px;
  @sprite-logo-offset-x: -28px;
  @sprite-logo-offset-y: 0px;
  @sprite-logo-width: 150px;
  @sprite-logo-height: 80px;
  @sprite-logo-total-width: 798px;
  @sprite-logo-total-height: 286px;
  @sprite-logo-image: '../images/sprite.png';
  @sprite-logo: 28px 0px -28px 0px 150px 80px 798px 286px '../images/sprite.png';
  @tiny-grid-alpha-x: 0px;
  @tiny-grid-alpha-y: 0px;
  @tiny-grid-alpha-offset-x: 0px;
  @tiny-grid-alpha-offset-y: 0px;
  @tiny-grid-alpha-width: 26px;
  @tiny-grid-alpha-height: 26px;
  @tiny-grid-alpha-total-width: 798px;
  @tiny-grid-alpha-total-height: 286px;
  @tiny-grid-alpha-image: '../images/sprite.png';
  @tiny-grid-alpha: 0px 0px 0px 0px 26px 26px 798px 286px '../images/sprite.png';

  .sprite-width(@sprite) {
    width: ~`"@{sprite}".split(', ')[4]`;
  }

  .sprite-height(@sprite) {
    height: ~`"@{sprite}".split(', ')[5]`;
  }

  .sprite-position(@sprite) {
    @sprite-offset-x: ~`"@{sprite}".split(', ')[2]`;
    @sprite-offset-y: ~`"@{sprite}".split(', ')[3]`;
    background-position: @sprite-offset-x  @sprite-offset-y;
  }

  .sprite-image(@sprite) {
    @sprite-image: ~`"@{sprite}".split(', ')[8].slice(1, -2)`;
    background-image: url(@sprite-image);
  }

  .sprite(@sprite) {
    .sprite-image(@sprite);
    .sprite-position(@sprite);
    .sprite-width(@sprite);
    .sprite-height(@sprite);
  }
