//    /$$$$$$    /$$                                     /$$
//   /$$__  $$  | $$                                    | $$
//  | $$  \__/ /$$$$$$    /$$$$$$  /$$   /$$  /$$$$$$$ /$$$$$$   /$$   /$$  /$$$$$$   /$$$$$$
//  |  $$$$$$ |_  $$_/   /$$__  $$| $$  | $$ /$$_____/|_  $$_/  | $$  | $$ /$$__  $$ /$$__  $$
//   \____  $$  | $$    | $$  \__/| $$  | $$| $$        | $$    | $$  | $$| $$  \__/| $$$$$$$$
//   /$$  \ $$  | $$ /$$| $$      | $$  | $$| $$        | $$ /$$| $$  | $$| $$      | $$_____/
//  |  $$$$$$/  |  $$$$/| $$      |  $$$$$$/|  $$$$$$$  |  $$$$/|  $$$$$$/| $$      |  $$$$$$$
//   \______/    \___/  |__/       \______/  \_______/   \___/   \______/ |__/       \_______/



/*  HTML, Body, Wrapper, Container
   ========================================================================== */

* { .box-sizing }

body {
    height: 100%;
    font-size: 14px;
    line-height: 14px;
    overflow-x: hidden;
    color: rgb(46, 46, 46);
    font-family: @f-times;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    background: url('@{img-path}tiny-grid-alpha.png') left top repeat #dadada;
}


/* ==========>> =Structure
============================================================= */
.container{
    float: left;
    position: relative;
    width: 100%;
    overflow: hidden;
}


/*  Main Aside
   ========================================================================== */
#main-aside{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: @aside-width;
    padding: 50px 0;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    .box-shadow(1px -1px 6px rgba(119, 56, 56, 0.6));
    .gradient(lighten(@red, 8%), darken(@red, 4%));
    .box-sizing;

    &:hover {
        #logo i{ left: 6px }
    }
}

#logo {
    .cf;
    display: inline-block;
    font: 700 24px/33px @f-times;

    a { display: inline-block }

    i{
        float: left;
        display: block;
        position: relative;
        width: 42px;
        height: 30px;
        margin: 0 10px 0 0;
        background: url(../images/sprite-logo.png) no-repeat 0 -43px;
        .transition(left 0.1s linear);
    }

    span {
        display: block;
        margin: 60px 0 0;
        padding: 0 20px;
        font-size: 18px;
        line-height: 24px;
    }

    em {
        display: block;
        margin: 0 0 8px;
    }
}

.main-navigation{
    margin: 50px 0;

    a{
        display: block;
        padding: 10px 4px;
        border: 1px dashed transparent;
        letter-spacing: 1px;
    }

    a:hover,
    .current{
        text-decoration: none;
        background: rgba(95, 4, 4, 0.1);
        border: 1px dashed rgba(255,255,255,0.2);
    }
}

.social{
    .cf;
    margin: 50px 0 0;
    display: inline-block;

    li { float: left }

    a{
        display: inline-block;
        padding-bottom: 6px;
        border: 1px solid rgba(0,0,0,0);

        > i{
            float: left;
            width: 34px;
            height: 34px;
            margin-right: 10px;
            text-shadow: none;
            background: url('@{img-path}sprite-logo.png') no-repeat 0 0;
        }

        &:hover{ border-bottom: 1px dashed rgba(255,255,255,0.2);}
    }

    .github{ background-position: -41px -42px; }

    .twitter{ background-position: -79px -44px; }

    .facebook{ background-position: -114px -46px; }
}

// Search
.search{
    display: none;
    position: relative;
    margin: (@topAsideHeight + 20) 7% 0;

    input,
    input:hover,
    input:focus{
        color: #fff;
        background: #500000;
        border: 1px solid rgba(194, 12, 12, 0.4);
        box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.3);
    }
}


/*  Main Content
   ========================================================================== */
.main-content{
    .cf;
    position: relative;
    float: left;
    height: 100%;
    margin-left: @aside-width + 40;
    padding: 26px 3% 50px 0;

}

/*  Main Footer
   ========================================================================== */



