//   /$$$$$$$$
//  |__  $$__/
//     | $$    /$$   /$$  /$$$$$$   /$$$$$$   /$$$$$$$
//     | $$   | $$  | $$ /$$__  $$ /$$__  $$ /$$_____/
//     | $$   | $$  | $$| $$  \ $$| $$$$$$$$|  $$$$$$
//     | $$   | $$  | $$| $$  | $$| $$_____/ \____  $$
//     | $$   |  $$$$$$$| $$$$$$$/|  $$$$$$$ /$$$$$$$/
//     |__/    \____  $$| $$____/  \_______/|_______/
//             /$$  | $$| $$
//            |  $$$$$$/| $$
//             \______/ |__/



/*  Paragraph
  ========================================================================== */
p {
  margin: 0 0 1em;
  font-size: 1.3em;
  line-height: 1.5em;
}

/*  Links
   ========================================================================== */
a {
  color: #fff;
  text-decoration: none;

  &:hover { text-decoration: underline }
}


/*  Lists
   ========================================================================== */
ul,
ol { padding: 0 }

li { list-style: none }


/*  Headings
   ========================================================================== */

h1, h2, h3, h4, h5 {
  margin: 0 0 0;
}

.post-title {
  margin: 0 0 40px;
  padding: 0 0 18px;
  font: 700 1.8em/1.2em @f-times;
  text-shadow: 1px 1px 0 #fff;
  border-bottom: 1px dashed #adadad;
  .transition(all .1s ease);

  &:hover {
    color: darken(@color-default, 10%);
    text-decoration: none;
  }
}