//   /$$    /$$                     /$$           /$$       /$$
//  | $$   | $$                    |__/          | $$      | $$
//  | $$   | $$  /$$$$$$   /$$$$$$  /$$  /$$$$$$ | $$$$$$$ | $$  /$$$$$$   /$$$$$$$
//  |  $$ / $$/ |____  $$ /$$__  $$| $$ |____  $$| $$__  $$| $$ /$$__  $$ /$$_____/
//   \  $$ $$/   /$$$$$$$| $$  \__/| $$  /$$$$$$$| $$  \ $$| $$| $$$$$$$$|  $$$$$$
//    \  $$$/   /$$__  $$| $$      | $$ /$$__  $$| $$  | $$| $$| $$_____/ \____  $$
//     \  $/   |  $$$$$$$| $$      | $$|  $$$$$$$| $$$$$$$/| $$|  $$$$$$$ /$$$$$$$/
//      \_/     \_______/|__/      |__/ \_______/|_______/ |__/ \_______/|_______/
//

/*  Fonts
   ========================================================================== */

@f-arial: Arial, sans-serif;
@f-open: "Open Sans", sans-serif;
@f-helvetica: Helvetica, "Helvetica Neue", @f-arial;
@f-trebuchet: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
@f-times: "Times New Roman", Times, serif;


/*  Type Sizes
   ========================================================================== */
@font-size: 14;
@em: @font-size * 1em;


/*  Colors
   ========================================================================== */
@color-default: #2E2E2E;
@red: #BA1820;


/*  Others
   ========================================================================== */
@aside-width: 220px;
@columns: 12;
@column-width: 60;
@gutter-width: 20;
@total-width: 100%;
@ButtonSize: 30px;
@HiddenMenu-Width: 70%;
@topAsideHeight: 60px;
@img-path: '../images/';